body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  max-width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-bar {
  margin-bottom: 10px;
  width:100vw;
  background-color: #0d47a1;
  color: #c5cae9;
  position: fixed;
  z-index: 1;
  height: 100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  color: #c5cae9;
  display: flex;
  width: 98vw;
  justify-content: center;
  align-content: center;

}

.search-input {
  flex-basis: 30%;
  flex-shrink: 1;
}

.chips {
  float: left;
  margin-right: 1vw;
  display: flex;
  align-items: center;
}

.dropdown-filters {
  margin-left: auto;
}

.dropdown-filters > div > div > .MuiOutlinedInput-notchedOutline-64 {
  border-color: #bbdefb;
}

.navbar-container > div > div > .MuiOutlinedInput-notchedOutline-64 {
  border-color: #bbdefb;
}

.navbar-container > div > div > .MuiChip-deleteIconOutlinedColorPrimary-24 {
  color: #bbdefb
}

.navbar-container > div > div > .MuiOutlinedInput-notchedOutline-64:hover {
  border-color: #64b5f6;
}

.navbar-container > div > .MuiFormLabel-root-50 {
  color: #bbdefb;
}

.navbar-container > div > .MuiInputBase-formControl-71:hover {
  border-color: red;
}

.results-container {
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  padding-top: 6em;
}

.result-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75vw;
  margin-bottom: 1em;
  padding-left:8px;
  padding-bottom: 10px;
}


.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  margin-right: 2vw;
  width: 20vw;
  overflow-y: scroll;
  position: fixed;
  height: 80vh;
  padding-left: 10px;
}

.sidebar-filter {
  width: 15vw;
}
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #dedede; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

#search-spinner {
  animation: spin 4s infinite linear;
}

@keyframes spin {
  0%  {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}   
}

.show-more:hover {
  cursor: pointer;
  color: #093875;
}

.graph-anchor {
  margin-right: 3px;
  border: dashed grey 1px;
  color: grey;
  text-decoration: none;
  padding: 1px;
  cursor: pointer;

}

.manifestation-title {
  color: #0039e6
}

.manifestation-type {
  color: lightgrey
}